.TeacherImage {
  width: 20rem;
  border: 2px solid;
}
.TeacherContainer {
  width: 50%;
  display: inline-table;
}

@media (max-width: 768px) {
  .TeacherContainer {
    width: 100%;
  }
}

.TeacherInfo {
}
.TeacherName {
  font-weight: bold;
}